.navbar {
  background-color: #191522;
  color: #fff;
  padding: 10px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f0ebeb;
}

.navbar .logo-image {
  width: 50px;
  height: 50px;
}

.navbar .logo-text {
  color: #ffffff;
  margin-left: 10px;
}

.navbar .navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .navbar-item {
  margin-left: 20px;
}

.navbar .navbar-item a, .navbar .navbar-item button {
  color: #ffffff; /* Ensure this color is applied */
  text-decoration: none;
  font-size: 16px;
}

.navbar .navbar-item a:hover, .navbar .navbar-item button:hover {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none !important; /* Ensure no underline is applied */
}

.no-underline:hover {
  text-decoration: none !important; /* Prevent underline on hover */
}
